
@{

}
<div class="b-nep-prodch-container v2-search-container">

    <div class="b-nep-col-photos b-nep-col-photos-one">
        <div class="b-nep-col-photos-tb carousel" id="cNepProductSlider" >
            <div class="b-nep-col-photos-tb-pslider carousel-inner">

                <div class="carousel-item active">

                    <div class="b-tb">
                        <div class="b-td">
                            <a class="lightbox fancybox" rel="pgallery" title="Наименование товара"
                               href="#">
                                <img src="~/images/serviceImages/No_image_available.svg"
                                     width="235" height="235" alt="">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="b-nep-col-tchars">

        &nbsp;

    </div>

</div><!-- /.b-nep-prodch-container -->