@{

}
<div class="b-nep-prod-best-offers v2-search-container">

    <div class="b-nep-npo-container in" id="collapseNPO">

        <ul class="b-nep-npo-list" role="v2-bestprice-container">

            <li class="b-item" role="v2-original-best-container">
                <div class="b-inner">
                    <div class="b-npo-head">САМАЯ НИЗКАЯ ЦЕНА</div>
                    <div class="b-npo-label">Оригинал</div>
                    <div class="b-npo-mtd">
                        <div class="b-npo-product-name">
                            <a class="b-nep-mstd-pname c-minfo-link-v2"
                               href="#c-minfo" data-href="/manufacturers/AYWIPARTS/make_name_description">
                                AYWIPARTS
                            </a> /
                            <a href="/products/AYWIPARTS/AW1510739.html"
                               target="_blank" class="b-nep-mstd-pname">AW1510739</a>
                        </div>
                        <div class="b-npo-product-subname">ШРУС</div>
                        <div class="b-npo-price"> 2 308.00 <i>р.</i> </div>
                    </div>
                    <div class="b-npo-mtb">
                        <div class="b-npo-pcs"> 2 шт. </div>
                        <div class="b-npo-time"> 1-2дн. </div>
                        <div class="b-nep-tstat stat-icon stat-bad" data-stat="0" data-placement="bottom">
                        </div>
                        <div class="b-npo-stock-icons-block"> </div>
                        <a href="#"
                           class="b-nep-add2bask price-item-bay-v2" data-toggle="modal"
                           rel="#basket-form-dialog-v2" title="">В корзину</a>
                    </div>
                </div>
            </li>

            <li class="b-item" role="v2-analog-best-container">
                <div class="b-inner">
                    <div class="b-npo-head">САМАЯ НИЗКАЯ ЦЕНА</div>
                    <div class="b-npo-label">Аналог</div>
                    <div class="b-npo-mtd">
                        <div class="b-npo-product-name">
                            <a class="b-nep-mstd-pname c-minfo-link-v2"
                               href="#c-minfo" data-href="/manufacturers/INKO/make_name_description">
                                INKO
                            </a> /
                            <a href="/products/INKO/307068.html" target="_blank"
                               class="b-nep-mstd-pname">307068</a>
                        </div>
                        <div class="b-npo-product-subname">ШРУС внешний 27/26</div>
                        <div class="b-npo-price"> 1 945.00 <i>р.</i> </div>
                    </div>
                    <div class="b-npo-mtb">
                        <div class="b-npo-pcs"> 1 шт. </div>
                        <div class="b-npo-time"> На складе </div>
                        <div class="b-nep-tstat stat-icon stat-excellent" data-stat="99"
                             data-placement="bottom"></div>
                        <div class="b-npo-stock-icons-block">
                            <img src="/images/unreturn.svg" width="12"
                                 title="Возвраты по складу не принимаются">
                        </div>
                        <a href="#"
                           class="b-nep-add2bask price-item-bay-v2" data-toggle="modal"
                           rel="#basket-form-dialog-v2" title="">В корзину</a>
                    </div>
                </div>
            </li>

            <li class="b-item" role="v2-best_delivery-best-container">
                <div class="b-inner">
                    <div class="b-npo-head">НАИМЕНЬШИЙ СРОК ДОСТАВКИ</div>
                    <div class="b-npo-mtd">
                        <div class="b-npo-product-name">
                            <a class="b-nep-mstd-pname c-minfo-link-v2"
                               href="#c-minfo" data-href="/manufacturers/INKO/make_name_description">
                                INKO
                            </a> /
                            <a href="/products/INKO/307068.html" target="_blank"
                               class="b-nep-mstd-pname">307068</a>
                        </div>
                        <div class="b-npo-product-subname">ШРУС внешний 27/26</div>
                        <div class="b-npo-price"> 1 945.00 <i>р.</i> </div>
                    </div>
                    <div class="b-npo-mtb">
                        <div class="b-npo-pcs"> 1 шт. </div>
                        <div class="b-npo-time"> На складе </div>
                        <div class="b-nep-tstat stat-icon stat-excellent" data-stat="99"
                             data-placement="bottom"></div>
                        <div class="b-npo-stock-icons-block">
                            <img src="/images/unreturn.svg" width="12"
                                 title="Возвраты по складу не принимаются">
                        </div>
                        <a href="#"
                           class="b-nep-add2bask price-item-bay-v2" data-toggle="modal"
                           rel="#basket-form-dialog-v2" title="">В корзину</a>
                    </div>
                </div>
            </li>

        </ul>

    </div>

</div><!-- /.b-nep-prod-best-offers -->
