@{

}
<footer class="tpl23-footer">
	<div class="tpl23-container">
		<div class="tpl23-footer-wrapper">
			<div class="tpl23-footer-col">
				<div class="tpl23-footer-logo">
					<img src="images/logo.png" alt>
				</div>

				<div class="tpl23-footer-social">

					<a href="#"
					   class="tpl23-footer-social-icon">
						<img data-src="#"
							 class="ps-sub-lazy">
					</a>

				</div>

			</div>
			<div class="tpl23-footer-col">

				<div class="tpl23-footer-menu">

					<div class="tpl23-footer-menu-item">
						<div class="tpl23-footer-menu-title" style>О компании</div>
						<ul>

							<li>
								<a asp-area="Public" asp-controller="Contacts" asp-action="Index" target="_self" style>Контакты</a>
							</li>

							<li>
								<a asp-area="Public" asp-controller="About" asp-action="Index" target="_self" style>О нас</a>
							</li>

						</ul>
					</div>

					<div class="tpl23-footer-menu-item">
						<div class="tpl23-footer-menu-title" style>Клиентам</div>
						<ul>

							<li>
								<a href="/vin_queries/new" target="_self" style>Vin запрос</a>
							</li>

							<li>
								<a asp-area="Public" asp-controller="Contacts" asp-action="Index" target="_self" style>Контакты</a>
							</li>

							<li>
								<a href="polzovatelskoe-soglashenie.html" target="_self"
								   style>Пользовательское соглашение</a>
							</li>

						</ul>
					</div>

				</div>

			</div>
			<div class="tpl23-footer-privacy tpl23-footer-privacy-mobile">
				<a href="#!">Оферта</a>
				<a href="#!">Конфиденциальность</a>
			</div>
			<div class="tpl23-footer-col">
				<div class="tpl23-footer-contacts">
					<div class="tpl23-footer-contacts-phone">
						<a href="tel:+7 (8452) 00-00-00">+7 (8452) 00-00-00</a>
						<span>Бесплатный звонок по России</span>
					</div>

					<div class="tpl23-footer-contacts-message">

						<a href="https://t.me/"
						   class="tpl23-footer-social-icon">
							<img data-src="/system/site_template_files/system-template-23/telegram.png?1659111116"
								 src="images/telegram.png" alt="">
						</a>

					</div>

				</div>
				<div class="tpl23-footer-address">
					<p>ул. Силикатная 64д 14-4</p>
				</div>
				<div class="tpl23-footer-payment">


					<ul class="b-payment-systems-list">

						<li>

							<img src="~/images/visa-logo_original.svg"
								 class="ps-lazy" alt="Visa">

						</li>

						<li>

							<img src="~/images/mastercard-logo_original.svg"
								 class="ps-lazy" alt="MasterCard">

						</li>

						<li>

							<img src="~/images/mir-logo_original.svg"
								 class="ps-lazy" alt="Мир">

						</li>

					</ul>

				</div>

			</div>
		</div>
	</div>
</footer>