

<header class="tpl23-header tpl23-header-mobile">
	<div class="tpl23-container">
		<div class="tpl23-header-wrapper">
			<div class="tpl23-header-mobile-wrapper">
				<div class="tpl23-header-mobile-menu">
					<div class="tpl23-header-mobile-menu-icon">
						<img src="images/menu.png">
					</div>
				</div>
				<a href class="tpl23-logo">

					<img data-src="/system/site_template_files/system-template-23/logo.png?1659111115"
						 alt class="img-fluid ps-sub-lazy">

				</a>

			</div>
			<div class="tpl23-header-mobile-menu-sticky-wrapper">
				<div class="tpl23-header-mobile-menu
              tpl23-header-mobile-menu-sticky">
					<div class="tpl23-header-mobile-menu-icon">
						<img src="images/menu.png">
					</div>
				</div>
				<div class="tpl23-search">
					<div class="b-col-search">
						<div class="b-ths-search tpl23-b-search" id>
							<form action="https://system-template-23.demo.parts-soft.ru/price_items/search"
								  class="b-ths-search-ins">
								<div class="b-ths-search-wrap">
									<input type="text" class="b-input-search" name id
										   placeholder="Введите номер детали, название или VIN"
										   value>
								</div>
								<button class="b-btn-search"></button>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</header>

<header class="tpl23-header">
	<div class="tpl23-container">

		<div class="tpl23-header-wrapper">

			<div class="tpl23-header-top">

				<a href="/contacts" data-objectid="1" class="choice-city-link">
					г. Саратов
				</a>

				<div class="tpl23-callback">
					<a class="tpl23-callback-phone" href="tel:+7 (495) 128-95-60">
						+7
						(495) 128-95-60
					</a>

				</div>

				<nav class="navbar">
					<ul class="navbar-nav">


						<li class="nav-item nav-item-dropdown">
							<a href="#" class="nav-link dropdown-toggle" style
							   data-toggle="dropdown" aria-haspopup="true"
							   aria-expanded="false">О нас</a>
							<ul class="dropdown-menu">

								<li>
									<a href="/about" target="_self" style
									   class="dropdown-item">
										Пользователям
									</a>
								</li>

								<li>
									<a href="/about" target="_self" style
									   class="dropdown-item">
										О компании
									</a>
								</li>

								<li>
									<a href="/contacts" target="_self" style
									   class="dropdown-item">
										Контакты
									</a>
								</li>

							</ul>
						</li>

						<li class="nav-item nav-item-dropdown">
							<a href="#" class="nav-link dropdown-toggle" style
							   data-toggle="dropdown" aria-haspopup="true"
							   aria-expanded="false">Клиентам</a>
							<ul class="dropdown-menu">

								<li>
									<a href="/delivery" target="_self" style
									   class="dropdown-item">
										Доставка и оплата
									</a>
								</li>

								<li>
									<a href="#" target="_self" style class="dropdown-item">
										Условия использования
									</a>
								</li>

								<li>
									<a href="/about" target="_self" style
									   class="dropdown-item">
										О компании
									</a>
								</li>

								<li>
									<a href="/payments" target="_self" style
									   class="dropdown-item">
										Оплата
									</a>
								</li>

							</ul>
						</li>

						<li class="nav-item">
							<a href="/vin_queries/new" class="nav-link" target="_blank"
							   style>Vin запрос</a>
						</li>

						<li class="nav-item">
							<a href="/contacts" class="nav-link" target="_self" style>Контакты</a>
						</li>

					</ul>
				</nav>
			</div>

			<div class="tpl23-header-bottom">

				<a href class="tpl23-logo">

					<img src="~/images/logo.png"
						 alt class="img-fluid ps-sub-lazy">

				</a>

				<div class="tpl23-callback tpl23-callback-mobile">
					<a class="tpl23-callback-phone" href="tel:+7 (495) 128-95-60">
						+7
						(495) 128-95-60
					</a>

				</div>
				<div class="tpl23-catalog-wrapper">
					<div class="tpl23-btn-catalog tpl23-btn-catalog-desktop tpl23-btn">
						Каталог
					</div>
					<div class="tpl23-search">
						<div class="b-col-search">
							<div class="b-ths-search tpl23-b-search" id>
								<form action="https://system-template-23.demo.parts-soft.ru/price_items/search"
									  class="b-ths-search-ins">
									<div class="b-ths-search-wrap">
										<input type="text" class="b-input-search" name id
											   placeholder="Введите номер детали, название или VIN"
											   value>
									</div>
									<button class="b-btn-search"></button>
								</form>
							</div>
						</div>

					</div>
				</div>

				<div class="tpl23-user-block">

					<a class="tpl23-user-block-item" href="/login">
						<img src="~/images/login.webp"
							 alt="Войти" class="ps-sub-lazy">
						<span>Войти</span>
					</a>

					<a class="tpl23-user-block-item tpl23-user-block-cart ajax-bask"
					   href="/baskets">
						<img src="images/cart.png" alt="Корзина" class="ps-sub-lazy">
						<span>Корзина</span>
						<p><vc:basket-amount /></p>
					</a>


				</div>
				<link rel="stylesheet" media="screen, projection"
					  href="~/css/application_system-e31910dfb55f99fcbe5f33f1dad6002f36412846473116628b7e8f97b2e92e8a.css"
					  async="async">
				<script src="~/js/script.js"></script>

				<script>
					//window._I18n =

					try {
						window.v2CurrencyHashTable = JSON.parse("{\"USD\":\"\$\"}")
					} catch (err) {
						window.v2CurrencyHashTable = {}
						console.log(err)
					}
					window.toxicWords = []
					window.searchResultSetting = { "search_result_groups": [{ "name": "top_original_prices", "position": 1, "group_count_of_showing_elemets": 5, "group_custom": false, "filters": [{ "key": "art_type_id", "value": 1, "operator": "==" }, { "key": "selected_item", "value": true, "operator": "==" }], "title": "В наличии запрашиваемый номер", "hide_group_title": false, "comment": null, "group_participates_in_hiding_analogues": false, "group_make_names_list_for_hiding": {}, "group_hide_crosses_of_requested_make_name": false, "group_hide_if_requested_make_name_in_list": {}, "group_for_fulltext_search": false, "exclude_offers_if_no_offers_in_other_price_lists": [], "exclude_offers_mode": null, "group_roll_up_rows": false }, { "name": "top_original_cross_prices", "position": 2, "group_count_of_showing_elemets": 5, "group_custom": false, "filters": [{ "key": "art_type_id", "value": 5, "operator": "==" }, { "key": "selected_item", "value": true, "operator": "==" }], "title": "Оригинальные замены в наличии", "hide_group_title": false, "comment": null, "group_participates_in_hiding_analogues": false, "group_make_names_list_for_hiding": {}, "group_hide_crosses_of_requested_make_name": false, "group_hide_if_requested_make_name_in_list": {}, "group_for_fulltext_search": false, "exclude_offers_if_no_offers_in_other_price_lists": [], "exclude_offers_mode": null, "group_roll_up_rows": false }, { "name": "top_analog_prices", "position": 3, "group_count_of_showing_elemets": 5, "group_custom": false, "filters": [{ "key": "art_type_id", "value": 2, "operator": "==" }, { "key": "selected_item", "value": true, "operator": "==" }], "title": "В наличии аналоги", "hide_group_title": false, "comment": "", "group_participates_in_hiding_analogues": false, "group_make_names_list_for_hiding": { "BPW": true }, "group_hide_crosses_of_requested_make_name": false, "group_hide_if_requested_make_name_in_list": { "JOST": true }, "group_for_fulltext_search": false, "exclude_offers_if_no_offers_in_other_price_lists": [], "exclude_offers_mode": null, "group_roll_up_rows": false }, { "name": "original_prices", "position": 4, "group_count_of_showing_elemets": 5, "group_custom": false, "filters": [{ "key": "art_type_id", "value": 1, "operator": "==" }, { "key": "selected_item", "value": false, "operator": "==" }], "title": "Искомый номер", "hide_group_title": false, "comment": null, "group_participates_in_hiding_analogues": false, "group_make_names_list_for_hiding": {}, "group_hide_crosses_of_requested_make_name": false, "group_hide_if_requested_make_name_in_list": {}, "group_for_fulltext_search": false, "exclude_offers_if_no_offers_in_other_price_lists": [], "exclude_offers_mode": null, "group_roll_up_rows": false }, { "name": "original_cross_prices", "position": 5, "group_count_of_showing_elemets": 5, "group_custom": false, "filters": [{ "key": "art_type_id", "value": 5, "operator": "==" }, { "key": "selected_item", "value": false, "operator": "==" }], "title": "Оригинальные замены", "hide_group_title": false, "comment": null, "group_participates_in_hiding_analogues": false, "group_make_names_list_for_hiding": {}, "group_hide_crosses_of_requested_make_name": false, "group_hide_if_requested_make_name_in_list": {}, "group_for_fulltext_search": false, "exclude_offers_if_no_offers_in_other_price_lists": [], "exclude_offers_mode": null, "group_roll_up_rows": false }, { "name": "cross_prices", "position": 6, "group_count_of_showing_elemets": 5, "group_custom": false, "filters": [{ "key": "art_type_id", "value": 2, "operator": "==" }, { "key": "selected_item", "value": false, "operator": "==" }], "title": "Аналоги", "hide_group_title": false, "comment": "", "group_participates_in_hiding_analogues": false, "group_make_names_list_for_hiding": { "BPW": true }, "group_hide_crosses_of_requested_make_name": false, "group_hide_if_requested_make_name_in_list": { "JOST": true }, "group_for_fulltext_search": false, "exclude_offers_if_no_offers_in_other_price_lists": [], "exclude_offers_mode": null, "group_roll_up_rows": false }, { "name": "fulltext_search", "position": 7, "group_count_of_showing_elemets": 5, "group_custom": false, "filters": [{ "key": "art_type_id", "value": 1, "operator": "==" }], "title": "Результаты поиска по названию", "hide_group_title": false, "comment": null, "group_participates_in_hiding_analogues": false, "group_make_names_list_for_hiding": {}, "group_hide_crosses_of_requested_make_name": false, "group_hide_if_requested_make_name_in_list": {}, "group_for_fulltext_search": true, "exclude_offers_if_no_offers_in_other_price_lists": [], "exclude_offers_mode": null, "group_roll_up_rows": false }], "hidden_brand_list_for_guests": {}, "sort_field_inside_price_groups": "", "sort_field_inside_price_fulltext_group": "" }
					window.siteConfigOptions = { "dontShowCents": false, "selectFirstBrandAndSwitchToSearch": false };

					window.currencyI18nPath = "number.currency.types.rub";
					window.rollupRowsHash = {}
					window.currentRegion = {
						id: 1,
						contact: {},
						paid_delivery: "0",
						min_sum_order: 0.0
					}
					window.basketSum = 0;

					window.v2TemplateVisualSettings = { "v2_search_page_show_goods_image": "1", "v2_search_page_show_brand_image_if_no_goods_image": "0", "v2_search_page_show_characteristic_info": "1", "v2_search_page_show_oem_as_characteristic_info": false, "v2_search_page_show_packing_info": "1", "v2_search_page_show_characteristic_show_more": "1", "v2_search_page_show_advantages_info": "0", "v2_search_page_show_best_price_block": "1", "v2_search_page_turnoff_best_price_block_collapse": "0", "v2_search_page_image_info_block_show_setting": "", "v2_search_page_turnoff_best_price_block_up_text": "Свернуть", "v2_search_page_turnoff_best_price_block_down_text": "Раскрыть", "v2_search_page_show_photos_in_search": "1", "v2_search_page_show_photos_from_price_in_search": "1", "v2_search_page_show_text_block_over_search_table": "1", "v2_search_page_title_text_block_over_search_table": "Информация для покупателей", "v2_search_page_body_text_block_over_search_table": "Просим вас быть бдительными при переводе денежных средств третьим лицам", "v2_search_page_show_text_block_over_search_table_for_guest": "0", "v2_search_page_title_text_block_over_search_table_for_guest": "Информация для покупателей", "v2_search_page_body_text_block_over_search_table_for_guest": "Просим вас быть бдительными при переводе денежных средств третьим лицам.", "v2_search_page_show_text_block_under_search_table": "0", "v2_search_page_title_text_block_under_search_table": "Информация для покупателей", "v2_search_page_body_text_block_under_search_table": "Просим вас быть бдительными при переводе денежных средств третьим лицам", "v2_search_page_show_text_block_under_search_table_for_guest": "0", "v2_search_page_title_text_block_under_search_table_for_guest": "Информация для покупателей", "v2_search_page_body_text_block_under_search_table_for_guest": "Просим вас быть бдительными при переводе денежных средств третьим лицам.", "v2_search_page_show_search_filters": "1", "v2_search_page_show_left_filter": "1", "v2_search_page_disclose_search_filters_mobile": "1", "v2_search_page_price_selection_mode": "", "v2_search_page_alternative_variant_render_search_result": "", "v2_search_page_show_btn_of_popup_to_check_price": "0", "v2_search_page_btn_text_of_popup_to_check_price": "Цена", "v2_search_page_btn_of_popup_to_check_price_name": "Уточнить цену", "v2_search_page_btn_check_price_column_width": "50", "v2_search_page_hide_cost_from_unregistred_users": "0", "v2_search_page_old_price_font_size": "14px", "v2_search_page_old_price_font_color": "#4a4a4a", "v2_search_page_sale_price_font_size": "14px", "v2_search_page_sale_price_font_color": "#4a4a4a", "v2_search_page_show_stock_column": "1", "v2_search_page_show_weight_column": "0", "v2_search_page_show_stock_comment_without_name": "0", "v2_search_page_hide_stock_name": "0", "v2_search_page_show_stat_column": "1", "v2_search_page_show_qnt_column": "1", "v2_search_page_show_delivery_column": "1", "v2_search_page_search_photos_in_google": "1", "v2_search_page_show_goods_info_icon": "1", "v2_search_page_show_only_best_cross_offer": "1", "v2_search_page_grouped_cross_group_count": "4", "v2_search_page_show_n_cross": "0", "v2_search_page_show_only_n_cross_btn": "0", "v2_search_page_without_rows_grouping": "0", "v2_search_page_disable_grouping_detail_names": "0", "v2_search_page_show_search_mode_icons": "1", "v2_search_page_default_search_mode": "with", "v2_search_page_detail_name_column_title": "Деталь", "v2_search_page_stock_column_title": "Склад", "v2_search_page_stat_column_title": "Стат.", "v2_search_page_qnt_column_title": "Кол.", "v2_search_page_delivery_column_title": "Доставка", "v2_search_page_cost_column_title": "Цена", "v2_search_page_wait_result_image": "/images/preloader.gif", "v2_search_page_supplier_info_icon": "/images/supplier_info.png", "v2_search_page_price_return_without_problem_icon": "/images/return-without-problem.svg", "v2_search_page_price_partial_unreturn_icon": "/images/partial-unreturn.svg", "v2_search_page_price_unreturn_icon": "/images/unreturn.svg", "v2_search_page_original_prices_title_fulltext": "Результат поиска по названию", "v2_search_page_original_prices_comment_fulltext": "", "v2_search_page_search_group_comment_color": "#4a4a4a", "v2_search_page_search_group_comment_font_size": "12px", "v2_search_page_delivery_day_show_mode": "", "v2_search_page_delivery_day_formats": "dd MM", "v2_search_page_delivery_day_eq_zero": "На складе", "v2_search_page_delivery_day_eq_one": "24 часа", "v2_search_page_delivery_day_sign_text": "дн.", "v2_search_page_qnt_sign_text": "", "v2_search_page_unknown_qnt_text": "", "v2_search_page_price_sign_text": " р.", "v2_search_page_rrp_title": "РРЦ", "v2_search_page_rrp_under_detail_name": "РРЦ rrp_cost", "v2_search_page_currency_hash": "USD;$", "v2_search_page_unreturn_goods_confirm": "0", "v2_search_page_unreturn_goods_confirm_text": "Товар возврату не подлежит, продолжить?", "v2_search_page_quick_order_off": "0", "v2_search_page_quick_order_add_customer_form": "0", "v2_search_page_search_row_separator_use": "0", "v2_search_page_check_tecdoc_cross": "1", "v2_search_page_search_row_separator_border_color": "#CCC", "v2_search_page_search_hide_brand_lists_for_guest": "", "v2_search_page_sort_field_inside_price_groups": "", "v2_search_page_sort_field_inside_price_groups_fulltext": "", "v2_search_page_detail_name_as_link_to_goods_card_in_fulltext": "0", "v2_search_page_search_page_coloring_enable": "0", "v2_search_page_search_page_coloring_brands": "", "v2_search_page_search_page_coloring_html_content": "", "v2_search_page_search_page_coloring_logo": "", "v2_search_page_search_page_coloring_logo_selector": "", "v2_search_page_one_price_more_items_btn_text": "Показать еще предложения", "v2_search_page_one_price_more_items_btn_background_color": "#4caf50", "v2_search_page_one_price_more_items_btn_hover_color": "#4caf50", "v2_search_page_label_1": "Защищенная покупка", "v2_search_page_label_1_image": "i-nep-shield.svg", "v2_search_page_label_2": "Вернуть товар надлежащего качества можно в течение 7 дней после покупки", "v2_search_page_label_2_image": "i-nep-clock-2.svg", "v2_search_page_label_3": "Собственная служба доставки", "v2_search_page_label_3_image": "i-nep-truck.svg", "v2_search_page_instead_of_advantage_show": "0", "v2_search_page_instead_of_advantage_mode_of_showing": "standart_banner", "v2_search_page_instead_of_advantage_image_url": "i-nep-shield.svg", "v2_search_page_instead_of_advantage_link": "", "v2_search_page_instead_of_advantage_banner_dot_background_color": "#f6f6f6", "v2_search_page_instead_of_advantage_banner_active_dot_background_color": "#084098", "v2_search_page_old_best_price_block_instead_of_advantage_show": "0", "v2_search_page_old_best_price_block_instead_of_advantage_header1": "Фирма", "v2_search_page_old_best_price_block_instead_of_advantage_header2": "Цена", "v2_search_page_old_best_price_block_instead_of_advantage_scrolling_height": "0", "v2_search_page_old_best_price_block_instead_of_advantage_header_font_size": "12px", "v2_search_page_old_best_price_block_instead_of_advantage_header_color": "#818181", "v2_search_page_old_best_price_block_instead_of_advantage_content_background_color": "#eee", "v2_search_page_old_best_price_block_instead_of_advantage_links_color": "#1b75b4", "v2_search_page_old_best_price_block_instead_of_advantage_scroll_background_color": "#fff", "v2_search_page_old_best_price_block_instead_of_advantage_scroll_color": "#a7a7a7", "v2_search_page_html_content_instead_of_advantage_show": "0", "v2_search_page_html_content_instead_of_advantage_content": "", "v2_search_page_recommended_goods_instead_of_advantage": "1", "v2_search_page_check_price_form_title": "УТОЧНИТЬ НАЛИЧИЕ", "v2_search_page_check_price_send_btn_text": "Отправить", "v2_search_page_check_price_success_text": "Заявка для уточнения цены успешно отправлена. Мы свяжемся с вами в ближайшее время.", "v2_search_page_check_price_text_under_detail_name": "Товар есть на складе! Купи сейчас!", "v2_search_page_check_price_comment_text": "Примечание: отправка заявки не обязывает вас покупать данный товар", "v2_search_page_reset_filter_btn_text": "Сбросить", "v2_search_page_reset_filter_btn_text_color": "#fff", "v2_search_page_reset_filter_btn_text_color_hover": "#fff", "v2_search_page_reset_filter_btn_background_color": "#8ab1dc", "v2_search_page_reset_filter_btn_background_color_hover": "#5fa4f1", "v2_search_page_apply_filter_btn_text_color": "#fff", "v2_search_page_apply_filter_btn_text_color_hover": "#fff", "v2_search_page_apply_filter_btn_background_color": "#8ab1dc", "v2_search_page_apply_filter_btn_background_color_hover": "#5fa4f1", "v2_search_page_basket_btn_text": "В корзину", "v2_search_page_basket_btn_text_modal": "В корзину", "v2_search_page_basket_modal_show_goods_image": "1", "v2_search_page_basket_modal_hide_after_basket_create": "0", "v2_search_page_basket_modal_allow_edit_detail_name": "0", "v2_search_page_order_btn_url_inside_basket_modal": "/orders/new", "v2_search_page_basket_btn_text_color": "#fff", "v2_search_page_basket_btn_text_color_hover": "#fff", "v2_search_page_basket_btn_background_color": "#8ab1dc", "v2_search_page_basket_btn_background_color_hover": "#5fa4f1", "v2_search_page_basket_btn_icon": "/images/v2_basket_icon.png", "v2_search_page_quick_order_btn_text": "Быстрый заказ", "v2_search_page_quick_order_ask_email": "0", "v2_search_page_quick_order_unique_email": "0", "v2_search_page_quick_order_unique_phone": "0", "v2_search_page_quick_order_btn_text_color": "#fff", "v2_search_page_quick_order_btn_text_color_hover": "#fff", "v2_search_page_quick_order_btn_background_color": "#b0cf7f", "v2_search_page_quick_order_btn_background_color_hover": "#a5c76f", "v2_search_page_make_quick_order_btn_text": "Оформить заказ", "v2_search_page_make_quick_order_btn_text_color": "#fff", "v2_search_page_make_quick_order_btn_text_color_hover": "#fff", "v2_search_page_make_quick_order_btn_background_color": "#b0cf7f", "v2_search_page_make_quick_order_btn_background_color_hover": "#a5c76f", "v2_search_page_continue_buying_btn_text": "Продолжить покупки", "v2_search_page_continue_buying_btn_text_color": "#fff", "v2_search_page_continue_buying_btn_text_color_hover": "#fff", "v2_search_page_continue_buying_btn_background_color": "#8ab1dc", "v2_search_page_continue_buying_btn_background_color_hover": "#5fa4f1", "v2_search_page_after_order_action": "", "v2_search_page_after_order_create_redirect_url": "", "v2_search_page_show_n_cross_btn_text": "Еще аналоги", "v2_search_page_show_n_cross_btn_text_color": "#fff", "v2_search_page_show_n_cross_btn_background_color": "#47a447", "v2_search_page_show_n_goods_btn_font_size_rev2": "11px", "v2_search_page_show_n_goods_btn_color_rev2": "#a7a7a7", "v2_search_page_show_n_goods_btn_background_color_rev2": "#ffffff", "v2_search_page_show_n_goods_btn_background_color_on_hover_rev2": "#ffffff", "v2_search_page_show_n_goods_btn_symbol_rev2": "'⋁'", "v2_search_page_show_n_goods_btn_symbol_close_rev2": "'⋀'", "v2_search_page_show_n_goods_btn_after_symbol_rev2": "#a7a7a7", "v2_search_page_show_n_goods_btn_after_symbol_on_hover_rev2": "#c54141", "v2_search_page_show_n_goods_btn_symbol_font_size_rev2": "13px", "v2_search_page_show_breakline": "1", "v2_search_page_show_breakline_color": "#e4e4e4", "v2_search_page_best_price_title_color": "#64a073", "v2_search_page_best_price_content_background_color": "#fff", "v2_search_page_best_price_content_border_color": "#e2e0e0", "v2_search_page_best_price_label_color": "#acb1ac", "v2_search_page_best_price_label_background_color": "#efefef", "v2_search_page_best_price_1_title": "САМАЯ НИЗКАЯ ЦЕНА", "v2_search_page_best_price_1_label_text": "Оригинал", "v2_search_page_best_price_2_title": "САМАЯ НИЗКАЯ ЦЕНА", "v2_search_page_best_price_2_label_text": "Аналог", "v2_search_page_best_price_3_title": "НАИМЕНЬШИЙ СРОК ДОСТАВКИ", "v2_search_page_best_price_qnt_sign_text": " шт.", "v2_search_page_brand_selection_go_to_search_only_by_link": "0", "v2_search_page_brand_selection_do_not_show_oem": "0", "v2_search_page_brand_selection_show_goods_picture": "0", "v2_search_page_brand_selection_column_detail_name_title": "Наименование", "v2_search_page_brand_selection_column_make_name_title": "Производитель", "v2_search_page_brand_selection_column_oem_title": "Артикул", "v2_search_page_brand_selection_additional_column_1": "", "v2_search_page_brand_selection_row_separator_show": "1", "v2_search_page_brand_selection_row_separator_color": "#CCC", "v2_search_page_order_items_sort_condition": "updated_at", "v2_search_page_order_payment_type": "1", "v2_search_page_order_apiship_delivery": false, "v2_search_page_baskets_show_client_coefficient": "0", "v2_search_page_baskets_index_show_remove_selected_position_btn": "1", "v2_search_page_baskets_index_background_color_remove_selected_position_btn": "#f0454b", "v2_search_page_baskets_index_font_color_remove_selected_position_btn": "#fff", "v2_search_page_baskets_index_background_color_make_order_btn": "#5e5e5e", "v2_search_page_baskets_index_font_color_make_order_btn": "#fff", "v2_search_page_show_price_items_qnt_in_baskets": "0", "v2_search_page_baskets_index_show_weight_column": "1", "v2_search_page_baskets_index_show_payment_column": false, "v2_search_page_baskets_index_show_recommended_products_source": "with_cost", "v2_search_page_catalogs_run_bulk_price_search": "1", "v2_search_page_catalogs_product_find_btn_url": "", "v2_search_page_redirect_to_fulltext_if_oem_search_blank": "0", "v2_search_page_catalogs_show_buble_switcher": "1", "v2_search_page_catalogs_show_non_buble_switcher": "1", "v2_search_page_catalogs_show_short_list_switcher": "1", "v2_search_page_catalogs_show_category_tree": "0", "v2_search_page_catalogs_do_not_show_category_tree_for_api": "1", "v2_search_page_catalogs_mode_search_cost": "3", "v2_search_page_catalogs_default_sort_field": "cost_asc", "v2_search_page_catalogs_show_more_link": "1", "v2_search_page_catalogs_characteristics_link": false, "v2_search_page_catalogs_buy_btn_background_color": "#ed141f", "v2_search_page_catalogs_buy_btn_background_color_on_hover": "#c62828", "v2_search_page_catalogs_buy_btn_font_color": "#fff", "v2_search_page_catalogs_buy_btn_font_color_on_hover": "#fff", "v2_search_page_catalogs_find_btn_background_color": "#2b74b9", "v2_search_page_catalogs_find_btn_background_color_on_hover": "#125ba0", "v2_search_page_catalogs_find_btn_font_color": "#fff", "v2_search_page_catalogs_find_btn_font_color_on_hover": "#fff", "v2_search_page_catalogs_show_goods_btn_background_color": "#ed141f", "v2_search_page_catalogs_show_goods_btn_background_color_on_hover": "#c62828", "v2_search_page_catalogs_show_goods_btn_font_color": "#fff", "v2_search_page_catalogs_show_goods_btn_font_color_on_hover": "#fff", "v2_search_page_catalogs_reset_btn_background_color": "none", "v2_search_page_catalogs_reset_btn_background_color_on_hover": "none", "v2_search_page_catalogs_reset_btn_font_color": "#c4c4c4", "v2_search_page_catalogs_reset_btn_font_color_on_hover": "#2b2829", "v2_search_page_enable_favorite_function": "1", "v2_search_page_acat_catalog_show_goods_images": "0", "v2_search_page_acat_catalog_goods_image_stub_option": "noimage-v2.jpg", "v2_search_page_acat_catalog_main_page_tab_hover_font_color": "#000000", "v2_search_page_acat_catalog_main_page_active_tab_font_color": "#000000", "v2_search_page_acat_catalog_main_page_mark_card_border_color": "#e7e9ed", "v2_search_page_acat_catalog_main_page_mark_card_border_color_on_hover": "#eaeaea", "v2_search_page_acat_catalog_catalog_tile_border_color": "#e7e9ed", "v2_search_page_acat_catalog_catalog_tile_border_color_on_hover": "#eaeaea", "v2_search_page_acat_catalog_search_btn_background_color": "#93c584", "v2_search_page_acat_catalog_search_btn_background_color_on_hover": "#eaeaea", "v2_search_page_acat_catalog_table_head_background_color": "#eaeaea", "v2_search_page_acat_catalog_table_head_font_color": "#828282", "v2_search_page_acat_catalog_next_image_btn_icon": "acat_online/right-arrow.png", "v2_search_page_acat_catalog_prev_image_btn_icon": "acat_online/left-arrow.png", "v2_search_page_acat_catalog_dropdown_background_color": "#fff", "v2_search_page_acat_catalog_active_dropdown_background_color": "#dff3d7", "v2_search_page_acat_catalog_active_dropdown_background_2_lev_color": "#dff3d7", "v2_search_page_acat_catalog_active_dropdown_background_3_lev_color": "#eefce9", "v2_search_page_acat_catalog_dropdown_link_color": "#007ec5", "v2_search_page_acat_catalog_enable_add_to_basket": "0", "v2_search_page_laximo_redirect_url_when_vin_not_found": "", "v2_search_page_avtocat_catalog_no_image": "missing.png" }
					window.jsOrderPath = "/customers/short"

					window.systemPageUrls = {}
					window.systemPageUrls["term"] = "https://system-template-23.demo.parts-soft.ru/polzovatelyam/dogovor-postavki.html"
					window.systemPageUrls["152FZ"] = "https://system-template-23.demo.parts-soft.ru/polzovatelyam/personalnye-dannye.html"


					window.currentRegion.contact.phone = "+7 (495) 128-95-60"

					if ($("input[type=submit][rel='#basket-form-dialog']").length > 0) {
						$.each($("input[type=submit][rel='#basket-form-dialog']"),
							function () {
								$(this).attr('rel', '#basket-form-dialog-v2')
							})
					}

					function psInitV2BasketDialogForm() {
						if ($("input[type=submit][rel='#basket-form-dialog-v2']").length > 0) {
							$.each($("input[type=submit][rel='#basket-form-dialog-v2']"),
								function () {
									$(this).on("click",
										function (e) {
											e.preventDefault();
											item = $(this).data().item;
											var basket = new BasketV2();
											basket.checkQntWhenOrdering = false
											basket.renderCatalogBasketForm(item)
										})
								});
						}
					};

					$(document).ready(function () {
						psInitV2BasketDialogForm();
					});
				</script>
			</div>
		</div>

		<div class="tpl23-catalog-dropdown tpl23-catalog-dropdown-desktop">
			<div class="tpl23-catalog-dropdown-header">

				<div class="tpl23-catalog-title" data-tpl23-cat-name="881">Каталоги</div>
				<div class="tpl23-catalog-title" data-tpl23-cat-name="888">
					Масла и
					жидкости
				</div>

				<div class="tpl23-catalog-title" data-tpl23-cat-name="894">
					Автохимия
					и автокосметика
				</div>

				<div class="tpl23-catalog-title" data-tpl23-cat-name="900">
					Шины и
					диски
				</div>

				<div class="tpl23-catalog-title" data-tpl23-cat-name="903">Остальное</div>
			</div>


			<div class="tpl23-catalog-menu" data-tpl23-cat-block="881">

				<a href="/il_catalogs" class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/1_original.png" alt="Оригинальные">
					</div>

					<p>Оригинальные</p>
				</a>

				<a href="/car_base.html" class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/2_original.png" alt="Каталог TecDoc">
					</div>

					<p>Каталог TecDoc</p>
				</a>

				<a href="/catalog/to.html" class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/3_original.png" alt="Каталог ТО">
					</div>

					<p>Каталог ТО</p>
				</a>

				<a href="/catalogs/body-catalog.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/4_original.png" alt="Кузовные запчасти">
					</div>

					<p>Кузовные запчасти</p>
				</a>

				<a href="/catalogs/lampnew.html" class="tpl23-catalog-menu-item">
					<div class="tpl23-catalog-menu-icon">
						<img src="images/5_original.png" alt="Лампы">
					</div>

					<p>Лампы</p>
				</a>

				<a href="/catalogs/wiper-online.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/6_original.png" alt="Щетки стеклоочистителя">
					</div>

					<p>Щетки стеклоочистителя</p>
				</a>


			</div>



			<div class="tpl23-catalog-menu" data-tpl23-cat-block="888">

				<a href="/catalogs/motornye-masla.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/7_original.png" alt="Моторное масло">
					</div>

					<p>Моторное масло</p>
				</a>

				<a href="/catalogs/transmissionnye-masla-i-gur.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/8_original.png" alt="Трансмиссионные масла и
                  ГУР">
					</div>

					<p>Трансмиссионные масла и ГУР</p>
				</a>

				<a href="/catalogs/zhidkosti-tormoznye.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/9_original.png" alt="Жидкости тормозные">
					</div>

					<p>Жидкости тормозные</p>
				</a>

				<a href="/catalogs/zhidkosti-ohlazhdauschie.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/10_original.png" alt="Антифриз">
					</div>

					<p>Антифриз</p>
				</a>

				<a href="/catalogs/omivatel-stekla.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/11_original.png" alt="Жидкости омывателя">
					</div>

					<p>Жидкости омывателя</p>
				</a>


			</div>



			<div class="tpl23-catalog-menu" data-tpl23-cat-block="894">

				<a href="/catalogs/smazki-online.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/12_original.png" alt="Смазки">
					</div>

					<p>Смазки</p>
				</a>

				<a href="/catalogs/prisadki-online.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/13_original.png" alt="Присадки">
					</div>

					<p>Присадки</p>
				</a>

				<a href="/catalogs/germetiki.html" class="tpl23-catalog-menu-item">
					<div class="tpl23-catalog-menu-icon">
						<img src="images/14_original.png" alt="Герметики">
					</div>

					<p>Герметики</p>
				</a>

				<a href="/catalogs/klei-online.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/15_original.png" alt="Клеи">
					</div>

					<p>Клеи</p>
				</a>

				<a href="/catalogs/smell.html" class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/16_original.png" alt="Ароматизаторы">
					</div>

					<p>Ароматизаторы</p>
				</a>


			</div>



			<div class="tpl23-catalog-menu" data-tpl23-cat-block="900">

				<a href="/catalogs/shiny.html" class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/17_original.png" alt="Шины">
					</div>

					<p>Шины</p>
				</a>

				<a href="/catalogs/diski.html" class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/18_original.png" alt="Диски">
					</div>

					<p>Диски</p>
				</a>


			</div>



		<div class="tpl23-catalog-menu" data-tpl23-cat-block="903">

			<a href="/catalogs/kovriki.html" class="tpl23-catalog-menu-item">
				<div class="tpl23-catalog-menu-icon">
					<img src="images/19_original.png" alt="Коврики">
				</div>

				<p>Коврики</p>
			</a>

			<a href="/catalogs/akkumulyatornye-batarei.html"
			   class="tpl23-catalog-menu-item">

				<div class="tpl23-catalog-menu-icon">
					<img src="images/20_original.png" alt="Аккумуляторные батареи">
				</div>

				<p>Аккумуляторные батареи</p>
			</a>

			<a href="/catalogs/katalog-motodor.html"
			   class="tpl23-catalog-menu-item">

				<div class="tpl23-catalog-menu-icon">
					<img src="images/21_original.png" alt="Защита картера и КПП">
				</div>

				<p>Защита картера и КПП</p>
			</a>

			<a href="/catalogs/chekhly.html" class="tpl23-catalog-menu-item">
				<div class="tpl23-catalog-menu-icon">
					<img src="images/22_original.png" alt="Чехлы автомобильные">
				</div>

				<p>Чехлы автомобильные</p>
			</a>

			<a href="/catalogs/farkop.html" class="tpl23-catalog-menu-item">
				<div class="tpl23-catalog-menu-icon">
					<img src="images/23_original.png" alt="Фаркопы">
				</div>

				<p>Фаркопы</p>
			</a>

			<a href="/catalogs/lampnew.html" class="tpl23-catalog-menu-item">
				<div class="tpl23-catalog-menu-icon">
					<img src="images/24_original.png" alt="Системы выпуска">
				</div>

				<p>Системы выпуска</p>
			</a>


		</div>

		</div>

		<div class="tpl23-catalog-wrapper-mobile">
			<div class="tpl23-btn-catalog tpl23-btn-catalog-mobile tpl23-btn">Каталог</div>
			<div class="tpl23-search">
				<div class="b-col-search">
					<div class="b-ths-search tpl23-b-search" id>
						<form action="https://system-template-23.demo.parts-soft.ru/price_items/search"
							  class="b-ths-search-ins">
							<div class="b-ths-search-wrap">
								<input type="text" class="b-input-search" name id
									   placeholder="Введите номер детали, название или VIN"
									   value>
							</div>
							<button class="b-btn-search"></button>
						</form>
					</div>
				</div>

			</div>
			<div class="tpl23-catalog-dropdown tpl23-catalog-dropdown-mobile">
				<div class="tpl23-catalog-title has-child"
					 data-tpl23-cat-name="881">
					Каталоги

					<div class="tpl23-catalog-menu" data-tpl23-cat-block="881">


						<a href="/il_catalogs" class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/882/1_original.png?1657622605"
									 class="ps-sub-lazy" alt="Оригинальные">
							</div>

							<p>Оригинальные</p>
						</a>

						<a href="/car_base.html" class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/883/2_original.png?1657622605"
									 class="ps-sub-lazy" alt="Каталог TecDoc">
							</div>

							<p>Каталог TecDoc</p>
						</a>

						<a href="/catalog/to.html" class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/884/3_original.png?1657622605"
									 class="ps-sub-lazy" alt="Каталог ТО">
							</div>

							<p>Каталог ТО</p>
						</a>

						<a href="/catalogs/body-catalog.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/885/4_original.png?1657622605"
									 class="ps-sub-lazy" alt="Кузовные запчасти">
							</div>

							<p>Кузовные запчасти</p>
						</a>

						<a href="/catalogs/lampnew.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/886/5_original.png?1657622605"
									 class="ps-sub-lazy" alt="Лампы">
							</div>

							<p>Лампы</p>
						</a>

						<a href="/catalogs/wiper-online.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/887/6_original.png?1657622605"
									 class="ps-sub-lazy" alt="Щетки стеклоочистителя">
							</div>

							<p>Щетки стеклоочистителя</p>
						</a>


					</div>
				</div>


				<div class="tpl23-catalog-title has-child"
					 data-tpl23-cat-name="888">
					Масла и жидкости

					<div class="tpl23-catalog-menu" data-tpl23-cat-block="888">


						<a href="/catalogs/motornye-masla.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/889/7_original.png?1657622605"
									 class="ps-sub-lazy" alt="Моторное масло">
							</div>

							<p>Моторное масло</p>
						</a>

						<a href="/catalogs/transmissionnye-masla-i-gur.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/890/8_original.png?1657622605"
									 class="ps-sub-lazy" alt="Трансмиссионные масла и ГУР">
							</div>

							<p>Трансмиссионные масла и ГУР</p>
						</a>

						<a href="/catalogs/zhidkosti-tormoznye.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/891/9_original.png?1657622605"
									 class="ps-sub-lazy" alt="Жидкости тормозные">
							</div>

							<p>Жидкости тормозные</p>
						</a>

						<a href="/catalogs/zhidkosti-ohlazhdauschie.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/892/10_original.png?1657622605"
									 class="ps-sub-lazy" alt="Антифриз">
							</div>

							<p>Антифриз</p>
						</a>

						<a href="/catalogs/omivatel-stekla.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/893/11_original.png?1657622605"
									 class="ps-sub-lazy" alt="Жидкости омывателя">
							</div>

							<p>Жидкости омывателя</p>
						</a>


					</div>
				</div>


				<div class="tpl23-catalog-title has-child"
					 data-tpl23-cat-name="894">
					Автохимия и автокосметика

					<div class="tpl23-catalog-menu" data-tpl23-cat-block="894">


						<a href="/catalogs/smazki-online.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/895/12_original.png?1657622605"
									 class="ps-sub-lazy" alt="Смазки">
							</div>

							<p>Смазки</p>
						</a>

						<a href="/catalogs/prisadki-online.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/896/13_original.png?1657622606"
									 class="ps-sub-lazy" alt="Присадки">
							</div>

							<p>Присадки</p>
						</a>

						<a href="/catalogs/germetiki.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/897/14_original.png?1657622606"
									 class="ps-sub-lazy" alt="Герметики">
							</div>

							<p>Герметики</p>
						</a>

						<a href="/catalogs/klei-online.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/898/15_original.png?1657622606"
									 class="ps-sub-lazy" alt="Клеи">
							</div>

							<p>Клеи</p>
						</a>

						<a href="/catalogs/smell.html" class="tpl23-catalog-menu-item">
							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/899/16_original.png?1657622606"
									 class="ps-sub-lazy" alt="Ароматизаторы">
							</div>

							<p>Ароматизаторы</p>
						</a>


					</div>
				</div>


				<div class="tpl23-catalog-title has-child"
					 data-tpl23-cat-name="900">
					Шины и диски

					<div class="tpl23-catalog-menu" data-tpl23-cat-block="900">


						<a href="/catalogs/shiny.html" class="tpl23-catalog-menu-item">
							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/901/17_original.png?1657622606"
									 class="ps-sub-lazy" alt="Шины">
							</div>

							<p>Шины</p>
						</a>

						<a href="/catalogs/diski.html" class="tpl23-catalog-menu-item">
							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/902/18_original.png?1657622606"
									 class="ps-sub-lazy" alt="Диски">
							</div>

							<p>Диски</p>
						</a>


					</div>
				</div>


				<div class="tpl23-catalog-title has-child"
					 data-tpl23-cat-name="903">
					Остальное

					<div class="tpl23-catalog-menu" data-tpl23-cat-block="903">


						<a href="/catalogs/kovriki.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/904/19_original.png?1657622606"
									 class="ps-sub-lazy" alt="Коврики">
							</div>

							<p>Коврики</p>
						</a>

						<a href="/catalogs/akkumulyatornye-batarei.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/905/20_original.png?1657622606"
									 class="ps-sub-lazy" alt="Аккумуляторные батареи">
							</div>

							<p>Аккумуляторные батареи</p>
						</a>

						<a href="/catalogs/katalog-motodor.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/906/21_original.png?1657622606"
									 class="ps-sub-lazy" alt="Защита картера и КПП">
							</div>

							<p>Защита картера и КПП</p>
						</a>

						<a href="/catalogs/chekhly.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/907/22_original.png?1657622606"
									 class="ps-sub-lazy" alt="Чехлы автомобильные">
							</div>

							<p>Чехлы автомобильные</p>
						</a>

						<a href="/catalogs/farkop.html" class="tpl23-catalog-menu-item">
							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/908/23_original.png?1657622606"
									 class="ps-sub-lazy" alt="Фаркопы">
							</div>

							<p>Фаркопы</p>
						</a>

						<a href="/catalogs/lampnew.html"
						   class="tpl23-catalog-menu-item">

							<div class="tpl23-catalog-menu-icon">
								<img data-src="/system/menu_item_icons/909/24_original.png?1657622606"
									 class="ps-sub-lazy" alt="Системы выпуска">
							</div>

							<p>Системы выпуска</p>
						</a>


					</div>
				</div>

			</div>
		</div>

	</div>
</header>


<div class="tpl23-mobv-catalog">


	<div class="tpl23-catalog-wrapper-mobile">
		<div class="tpl23-btn-catalog-title">Каталог</div>
		<div class="tpl23-btn-catalog-close"></div>
		<div class="tpl23-catalog-dropdown show tpl23-catalog-dropdown-mobile">
			<div class="tpl23-catalog-title has-child" data-tpl23-cat-name="881">Каталоги</div>
			<div class="tpl23-catalog-menu" data-tpl23-cat-block="881">


				<a href="/il_catalogs" class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/1_original.png" alt="Оригинальные">
					</div>

					<p>Оригинальные</p>
				</a>

				<a href="/car_base.html" class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/2_original.png" alt="Каталог TecDoc">
					</div>

					<p>Каталог TecDoc</p>
				</a>

				<a href="/catalog/to.html" class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/3_original.png" alt="Каталог ТО">
					</div>

					<p>Каталог ТО</p>
				</a>

				<a href="/catalogs/body-catalog.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/4_original.png" alt="Кузовные запчасти">
					</div>

					<p>Кузовные запчасти</p>
				</a>

				<a href="/catalogs/lampnew.html" class="tpl23-catalog-menu-item">
					<div class="tpl23-catalog-menu-icon">
						<img src="images/5_original.png" alt="Лампы">
					</div>

					<p>Лампы</p>
				</a>

				<a href="/catalogs/wiper-online.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/6_original.png" alt="Щетки стеклоочистителя">
					</div>

					<p>Щетки стеклоочистителя</p>
				</a>


			</div>



			<div class="tpl23-catalog-title has-child" data-tpl23-cat-name="888">
				Масла
				и жидкости
			</div>

			<div class="tpl23-catalog-menu" data-tpl23-cat-block="888">


				<a href="/catalogs/motornye-masla.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/7_original.png" alt="Моторное масло">
					</div>

					<p>Моторное масло</p>
				</a>

				<a href="/catalogs/transmissionnye-masla-i-gur.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/8_original.png" alt="Трансмиссионные масла и
                  ГУР">
					</div>

					<p>Трансмиссионные масла и ГУР</p>
				</a>

				<a href="/catalogs/zhidkosti-tormoznye.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/9_original.png" alt="Жидкости тормозные">
					</div>

					<p>Жидкости тормозные</p>
				</a>

				<a href="/catalogs/zhidkosti-ohlazhdauschie.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/10_original.png" alt="Антифриз">
					</div>

					<p>Антифриз</p>
				</a>

				<a href="/catalogs/omivatel-stekla.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/11_original.png" alt="Жидкости омывателя">
					</div>

					<p>Жидкости омывателя</p>
				</a>


			</div>



			<div class="tpl23-catalog-title has-child" data-tpl23-cat-name="894">
				Автохимия
				и автокосметика
			</div>

			<div class="tpl23-catalog-menu" data-tpl23-cat-block="894">


				<a href="/catalogs/smazki-online.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/12_original.png" alt="Смазки">
					</div>

					<p>Смазки</p>
				</a>

				<a href="/catalogs/prisadki-online.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/13_original.png" alt="Присадки">
					</div>

					<p>Присадки</p>
				</a>

				<a href="/catalogs/germetiki.html" class="tpl23-catalog-menu-item">
					<div class="tpl23-catalog-menu-icon">
						<img src="images/14_original.png" alt="Герметики">
					</div>

					<p>Герметики</p>
				</a>

				<a href="/catalogs/klei-online.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/15_original.png" alt="Клеи">
					</div>

					<p>Клеи</p>
				</a>

				<a href="/catalogs/smell.html" class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/16_original.png" alt="Ароматизаторы">
					</div>

					<p>Ароматизаторы</p>
				</a>


			</div>



			<div class="tpl23-catalog-title has-child" data-tpl23-cat-name="900">
				Шины
				и диски
			</div>

			<div class="tpl23-catalog-menu" data-tpl23-cat-block="900">


				<a href="/catalogs/shiny.html" class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/17_original.png" alt="Шины">
					</div>

					<p>Шины</p>
				</a>

				<a href="/catalogs/diski.html" class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/18_original.png" alt="Диски">
					</div>

					<p>Диски</p>
				</a>


			</div>



			<div class="tpl23-catalog-title has-child" data-tpl23-cat-name="903">Остальное</div>
			<div class="tpl23-catalog-menu" data-tpl23-cat-block="903">


				<a href="/catalogs/kovriki.html" class="tpl23-catalog-menu-item">
					<div class="tpl23-catalog-menu-icon">
						<img src="images/19_original.png" alt="Коврики">
					</div>

					<p>Коврики</p>
				</a>

				<a href="/catalogs/akkumulyatornye-batarei.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/20_original.png" alt="Аккумуляторные батареи">
					</div>

					<p>Аккумуляторные батареи</p>
				</a>

				<a href="/catalogs/katalog-motodor.html"
				   class="tpl23-catalog-menu-item">

					<div class="tpl23-catalog-menu-icon">
						<img src="images/21_original.png" alt="Защита картера и КПП">
					</div>

					<p>Защита картера и КПП</p>
				</a>

				<a href="/catalogs/chekhly.html" class="tpl23-catalog-menu-item">
					<div class="tpl23-catalog-menu-icon">
						<img src="images/22_original.png" alt="Чехлы автомобильные">
					</div>

					<p>Чехлы автомобильные</p>
				</a>

				<a href="/catalogs/farkop.html" class="tpl23-catalog-menu-item">
					<div class="tpl23-catalog-menu-icon">
						<img src="images/23_original.png" alt="Фаркопы">
					</div>

					<p>Фаркопы</p>
				</a>

				<a href="/catalogs/lampnew.html" class="tpl23-catalog-menu-item">
					<div class="tpl23-catalog-menu-icon">
						<img src="images/24_original.png" alt="Системы выпуска">
					</div>

					<p>Системы выпуска</p>
				</a>


			</div>


		</div>
	</div>

</div>
