<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Khardo</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <partial name="_Header" />

    @*<partial name="_LoginPartial" />*@

    <partial name="_SelectRegionModal" />

    <div class="tpl23-container">
        <main role="main" class="pb-3">
            @*<vc:bread-crumbs></vc:bread-crumbs>*@
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/application_system.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/vue/vue.runtime.global.min.js" asp-append-version="true"></script>
    <script src="~/lib/typeahead.js/bloodhound.min.js"></script>
    <script src="~/lib/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // init Bloodhound with Remote + Prefetch
        var engine = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: '@Url.Action("TypeaheadPrefetch", "Home", new { Area = "Public"})',
                //cache: true,
                transform: function (data) {
                    var newData = [];
                    data.forEach(function (item) {
                        newData.push({ 'name': item });
                    });
                    return newData;
                }
            },
            remote: {
                url: '@Url.Action("TypeaheadQuery", "Home",new { Area = "Public"})' + '?query=%QUERY', //window.location.origin + 'Home/TypeaheadQuery/' + '?query=%QUERY',
                wildcard: '%QUERY'
            },
        });

        // init Typeahead
        $('#search_product-text').typeahead(
            {
                minLength: 3,
                highlight: true
            },
            {
                name: 'products',
                source: engine,
                display: function (item) {
                    console.log(item);
                    return `${item.vendorCode}`;
                },
                limit: 5,
                templates: {
                    suggestion: function (item) {
                        console.log(item);
                        return '<div class="p-3 bg-light hover">' + item.vendorCode + ' ' + item.name + '</div>';
                    }
                }
            });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
