<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Khardo</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	@*<link rel="stylesheet" href="~/css/application_system-e31910dfb55f99fcbe5f33f1dad6002f36412846473116628b7e8f97b2e92e8a.css" asp-append-version="true"/>*@
	<script src="~/js/application_system-6e58c232d86e9e96aec44690ead203e5c78a29dca2ce0766c29c3428626c44ec.js" asp-append-version="true"></script>
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
	<script src="~/js/script.js" asp-append-version="true"></script>
</head>
<body>
	<partial name="_Header" />
	<partial name="_LoginPartial" />

	<div class="tpl23-container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<partial name="_Footer" />
	<script src="~/js/application_system-6e58c232d86e9e96aec44690ead203e5c78a29dca2ce0766c29c3428626c44ec.js" asp-append-version="true"></script>
	<script src="~/js/script.js" asp-append-version="true"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="lib/vue/vue.runtime.global.min.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
