@{
	ViewData["Title"] = "Доставка ";
}

<div class="content clearfix">
	<ul class="path" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="itemscope">
			<a href="https://system-template-23.demo.parts-soft.ru/" itemprop="item" title="Главная">
				<span itemprop="name">Главная</span>
				<meta itemprop="position" content="0">
			</a> /
		</li>
		<li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="itemscope">
			<a href="/usloviya.html" itemprop="item" title="Условия">
				<span itemprop="name">Условия</span>
				<meta itemprop="position" content="1">
			</a> /
		</li>
		<li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="itemscope">
			<span itemprop="name">Оплата заказа</span>
			<meta itemprop="position" content="2">
		</li>
	</ul>
	<h1 class="main-title">Оплата заказа</h1>
	<article class="text">
		<p style="margin: 0px; padding: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 12px;"><strong style="margin: 0px; padding: 0px;">Для вашего удобства мы пользуемся различными системами оплаты заказов:</strong></p>

		<p style="margin: 0px; padding: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 12px;">1. Оплата наличными при получении заказа на складе или водителю-экспедитору.</p>

		<p style="margin: 0px; padding: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 12px;">2. Оплата счета через банк или банковскую карту.</p>

		<p style="margin: 0px; padding: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 12px;">3. Оплата через платежные терминалы.</p>

		<p style="margin: 0px; padding: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 12px;">4. Оплата электронными деньгами</p>

		<p style="margin: 0px; padding: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 12px;"><img alt="" src="http://demo14-www.parts-soft.ru/ckeditor_assets/pictures/29/content_accepted-payments.jpg" style="margin: 0px; padding: 0px; border: none; vertical-align: top; height: 180px; width: 581px;"></p>

		<p style="margin: 0px; padding: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 12px;"><strong style="margin: 0px; padding: 0px;">Доставка заказа осуществляеся любым удобным вам способом:</strong></p>

		<p style="margin: 0px; padding: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 12px;">1. До квартиры или офиса с 09.00 до21.00 без выходных - для Москвы т Московской области.</p>

		<p style="margin: 0px; padding: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 12px;">2. Почтой России - доставка в регионы, от 7 до 30 дней.</p>

		<p style="margin: 0px; padding: 0px 0px 20px; color: rgb(0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-size: 12px;">3. Самовывоз возможен с нашего склада в Москве ежедневно с 09.00 до 21.00 без выходных и перерыва.</p>

	</article>
</div>