@model IEnumerable<BreadCrumbModel>
@if (Model.Any())
{
    <ul class="path" >
        <li >
            <a asp-area="Public" asp-action="Index" asp-controller="Home" title="Главная">
                <span>Главная</span>
                <meta content="0">
            </a> /
        </li>
        @foreach (var item in Model)
        {
            if (item.IsActive)
            {
                <li itemprop="itemListElement" itemscope="itemscope">
                    <span itemprop="name">@item.Name</span>
                    <meta itemprop="position" content="3">
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Content($"~/{item.Url}")" title="@item.Name">
                        <span>@item.Name</span>
                        <meta content="2">
                    </a> /
                </li>
            }
        }
    </ul>
}