@{

}
<div class="tpl23-banner">
	<div class="tpl23-container">
		<div class="tpl23-banner-row">
			<div class="tpl23-banner-wrapper tpl23-banner-wrapper-main banner-slider-product">
				<div class="tpl23-main-slider slick-slider">
					<div class="tpl23-main-slider-item"
						 style="background-image: url(&#x27;../images/banners/121_slider1-desktop.png&#x27;)">
						<div class="tpl23-main-slider-content">
							<div class="tpl23-main-slider-content-title">Найдутся любые запчасти для вашего автомобиля</div>
							<div class="tpl23-main-slider-content-subtitle">Запчасти для регулярного технического обслуживания и кузовного ремонта</div>
							<a href="#" class="tpl23-btn">Подробнее</a>
						</div>
					</div>
					<div class="tpl23-main-slider-item"
					     style="background-image: url(&#x27;@Url.Content("~/images/banners/122_slider2-desktop.png")&#x27;)">
						<div class="tpl23-main-slider-content">
							<div class="tpl23-main-slider-content-title">Контрактные запчасти из Японии и Европы</div>
							<div class="tpl23-main-slider-content-subtitle">Сертифицированные контрактные запчасти по низким ценам</div>
							<a href="#" class="tpl23-btn">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tpl23-banner-wrapper tpl23-banner-short">
				<div class="tpl23-reccomendation-slider slick-slider">

					<div class="tpl23-card">
						<p>Рекомендуем</p>
						<div class="tpl23-card-img">
							<img src="~/images/product_photo/NF6167C_original.webp"
								 class="ps-sub-lazy" alt="Фильтр салона угольный">
						</div>
						<div class="tpl23-card-price-block">
							<div class="tpl23-card-price">
								259.0 р.
							</div>
						</div>
						<div class="tpl23-card-code"
							 data-url="/products/NEVSKY-FILTER/NF6167C.html">
							Артикул:
							NF6167C
						</div>
						<a class="tpl23-card-name limit-2"
						   href="/products/NEVSKY-FILTER/NF6167C.html">
							Фильтр салона
							угольный
						</a>
						<div class="tpl23-btn-cart">
							<a class="tpl23-btn tpl23-btn-cart"
							   href="/products/NEVSKY-FILTER/NF6167C.html">В корзину</a>
						</div>
					</div>
					<div class="tpl23-card">
						<p>Рекомендуем</p>
						<div class="tpl23-card-img">
							<img src="~/images/product_photo/ABDBCRK01_original.webp"
								 class="ps-sub-lazy" alt="Набор торсионных бит">
						</div>
						<div class="tpl23-card-price-block">
							<div class="tpl23-card-price">
								1300.0 р.
							</div>
						</div>
						<div class="tpl23-card-code"
							 data-url="/products/LICOTA/ABDBCRK01.html">
							Артикул:
							ABDBCRK01
						</div>
						<a class="tpl23-card-name limit-2"
						   href="/products/LICOTA/ABDBCRK01.html">Набор торсионных бит</a>
						<div class="tpl23-btn-cart">
							<a class="tpl23-btn tpl23-btn-cart"
							   href="/products/LICOTA/ABDBCRK01.html">В корзину</a>
						</div>
					</div>
					<div class="tpl23-card">
						<p>Рекомендуем</p>
						<div class="tpl23-card-img">
							<img src="~/images/product_photo/B66950973_original.webp"
								 class="ps-sub-lazy" alt="Женская куртка">
						</div>
						<div class="tpl23-card-price-block">
							<div class="tpl23-card-price">

								5000.0 р.

							</div>

						</div>
						<div class="tpl23-card-code"
							 data-url="/products/MERCEDES-BENZ/B66950973.html">
							Артикул:
							B66950973
						</div>
						<a class="tpl23-card-name limit-2"
						   href="/products/MERCEDES-BENZ/B66950973.html">Женская куртка</a>
						<div class="tpl23-btn-cart">
							<a class="tpl23-btn tpl23-btn-cart"
							   href="/products/MERCEDES-BENZ/B66950973.html">В корзину</a>
						</div>
					</div>

					<div class="tpl23-card">
						<p>Рекомендуем</p>
						<div class="tpl23-card-img">
							<img src="~/images/product_photo/AS560CH_original.webp"
								 class="ps-sub-lazy" alt="Освежитель воздуха">
						</div>
						<div class="tpl23-card-price-block">
							<div class="tpl23-card-price">

								180.0 р.

							</div>

						</div>
						<div class="tpl23-card-code"
							 data-url="/products/ABRO/AS560CH.html">Артикул: AS560CH</div>
						<a class="tpl23-card-name limit-2"
						   href="/products/ABRO/AS560CH.html">
							Освежитель воздуха
							"Органик"
						</a>
						<div class="tpl23-btn-cart">
							<a class="tpl23-btn tpl23-btn-cart"
							   href="/products/ABRO/AS560CH.html">В корзину</a>
						</div>
					</div>

					<div class="tpl23-card">
						<p>Рекомендуем</p>
						<div class="tpl23-card-img">
							<img src="~/images/product_photo/AW1510739_original.webp"
								 class="ps-sub-lazy" alt="ШРУС наружный">
						</div>
						<div class="tpl23-card-price-block">
							<div class="tpl23-card-price">

								1150.0 р.

							</div>

						</div>
						<div class="tpl23-card-code"
							 data-url="/products/AYWIPARTS/AW1510739.html">
							Артикул:
							AW1510739
						</div>
						<a class="tpl23-card-name limit-2"
						   href="/products/AYWIPARTS/AW1510739.html">ШРУС наружный</a>
						<div class="tpl23-btn-cart">
							<a class="tpl23-btn tpl23-btn-cart"
							   href="/products/AYWIPARTS/AW1510739.html">В корзину</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>