<div class="tpl23-catalog-box">
	<div class="tpl23-container">
		<div class="row">
			<div class="tpl23-catalog-box">
				<div class="tpl23-container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<a class="tpl23-catalog-box-item" href="/il_catalogs">
								<div class="tpl23-catalog-box-icon">
									<img src="~/images/cat1_original.png" alt="Оригинальные каталоги">
								</div>
								<div class="tpl23-catalog-box-title">Оригинальные каталоги</div>
							</a>
						</div>

						<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<a class="tpl23-catalog-box-item" href="/car_base.html">
								<div class="tpl23-catalog-box-icon">
									<img src="~/images/cat2_original.png" alt="Каталог TecDoc">
								</div>
								<div class="tpl23-catalog-box-title"> Каталог TecDoc</div>
							</a>
						</div>

						<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
							<a class="tpl23-catalog-box-item" href="/catalog/to.html">
								<div class="tpl23-catalog-box-icon">
									<img src="~/images/cat3_original.png" alt="Каталог ТО">
								</div>
								<div class="tpl23-catalog-box-title"> Каталог ТО</div>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>