    <!-- footer -->
<footer class="tpl23-footer">
	<div class="tpl23-container">
		<div class="tpl23-footer-wrapper">
			<div class="tpl23-footer-col">
				<div class="tpl23-footer-logo">
					<img src="images/logo.png" alt>
				</div>

				<div class="tpl23-footer-social">






					<a href="https://www.youtube.com/c/%D0%9F%D0%BB%D0%B0%D1%82%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D0%B4%D0%BB%D1%8F%D0%98%D0%9C%D0%B0%D0%B2%D1%82%D0%BE%D0%B7%D0%B0%D0%BF%D1%87%D0%B0%D1%81%D1%82%D0%B5%D0%B9"
					   class="tpl23-footer-social-icon">
						<img data-src="/system/site_template_files/system-template-23/youtube.png?1659111116"
							 class="ps-sub-lazy">
					</a>

				</div>


			</div>
			<div class="tpl23-footer-col">

				<div class="tpl23-footer-menu">



					<div class="tpl23-footer-menu-item">
						<div class="tpl23-footer-menu-title" style>О компании</div>
						<ul>

							<li>
								<a href="/contacts" target="_self" style>Контакты</a>
							</li>

							<li>
								<a href="/about" target="_self" style>О нас</a>
							</li>

						</ul>
					</div>





					<div class="tpl23-footer-menu-item">
						<div class="tpl23-footer-menu-title" style>Клиентам</div>
						<ul>

							<li>
								<a href="/vin_queries/new" target="_self" style>Vin запрос</a>
							</li>

							<li>
								<a href="/contacts" target="_self" style>Контакты</a>
							</li>

							<li>
								<a href="polzovatelskoe-soglashenie.html" target="_self"
								   style>Пользовательское соглашение</a>
							</li>

						</ul>
					</div>



				</div>

			</div>
			<div class="tpl23-footer-privacy tpl23-footer-privacy-mobile">
				<a href="#!">Оферта</a>
				<a href="#!">Конфиденциальность</a>
			</div>
			<div class="tpl23-footer-col">
				<div class="tpl23-footer-contacts">
					<div class="tpl23-footer-contacts-phone">
						<a href="tel:+7 (495) 128-95-60">+7 (495) 128-95-60</a>
						<span>Бесплатный звонок по России</span>
					</div>

					<div class="tpl23-footer-contacts-message">

						<a href="https://t.me/partssoftru"
						   class="tpl23-footer-social-icon">
							<img data-src="/system/site_template_files/system-template-23/telegram.png?1659111116"
								 src="images/telegram.png" alt>
						</a>



					</div>

				</div>
				<div class="tpl23-footer-address">
					<p>ул. Силикатная 64д 14-4</p>
				</div>
				<div class="tpl23-footer-payment">


					<ul class="b-payment-systems-list">

						<li>

							<img data-src="/system/menu_item_icons/466/visa-logo_original.svg?1606920256"
								 class="ps-lazy" alt="Visa">

						</li>

						<li>

							<img data-src="/system/menu_item_icons/467/mastercard-logo_original.svg?1606920256"
								 class="ps-lazy" alt="MasterCard">

						</li>

						<li>

							<img data-src="/system/menu_item_icons/468/mir-logo_original.svg?1606920256"
								 class="ps-lazy" alt="Мир">

						</li>

					</ul>

				</div>

			</div>
		</div>
	</div>
</footer>