@{

}
<div class="tpl23-catalog-box-popular">
	<div class="tpl23-container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">

				<div class="tpl23-catalog-box-popular-products">
					<div class="tpl23-box-title">Моторные масла</div>
					<div class="tpl23-catalog-box-popular-products-wrapper">
						<div class="row">

							<div class="col-6 col-md-4 col-lg-3 col-xl-6">
								<a class="tpl23-catalog-box-popular-products-item"
								   href="/catalogs/motornye-masla/pav/96783.html">
									<div class="tpl23-catalog-box-popular-products-img">
										<img src="~/images/menu_item_icons/oil-ic1_original.webp"
											 class="ps-sub-lazy" alt="TOYOTA">
									</div>
									<div class="tpl23-catalog-box-popular-products-name">TOYOTA</div>
								</a>
							</div>

							<div class="col-6 col-md-4 col-lg-3 col-xl-6">
								<a class="tpl23-catalog-box-popular-products-item"
								   href="/catalogs/motornye-masla/pav/5138.html">
									<div class="tpl23-catalog-box-popular-products-img">
										<img src="~/images/menu_item_icons/oil-ic3_original.webp"
											 class="ps-sub-lazy" alt="VAG">
									</div>
									<div class="tpl23-catalog-box-popular-products-name">VAG</div>
								</a>
							</div>

							<div class="col-6 col-md-4 col-lg-3 col-xl-6">
								<a class="tpl23-catalog-box-popular-products-item"
								   href="/catalogs/motornye-masla/pav/5091.html">
									<div class="tpl23-catalog-box-popular-products-img">
										<img src="~/images/menu_item_icons/oil-ic5_original.webp"
											 class="ps-sub-lazy" alt="SHELL">
									</div>
									<div class="tpl23-catalog-box-popular-products-name">SHELL</div>
								</a>
							</div>

							<div class="col-6 col-md-4 col-lg-3 col-xl-6">
								<a class="tpl23-catalog-box-popular-products-item"
								   href="/catalogs/motornye-masla/pav/96776.html">
									<div class="tpl23-catalog-box-popular-products-img">
										<img src="~/images/menu_item_icons/oil-ic7_original.webp"
											 class="ps-sub-lazy" alt="HYNDAI">
									</div>
									<div class="tpl23-catalog-box-popular-products-name">HYNDAI</div>
								</a>
							</div>

							<div class="col-6 col-md-4 col-lg-3 col-xl-6">
								<a class="tpl23-catalog-box-popular-products-item"
								   href="/catalogs/motornye-masla/pav/5003.html">
									<div class="tpl23-catalog-box-popular-products-img">
										<img src="~/images/menu_item_icons/oil-ic2_original.webp"
											 class="ps-sub-lazy" alt="NISSAN">
									</div>
									<div class="tpl23-catalog-box-popular-products-name">NISSAN</div>
								</a>
							</div>

							<div class="col-6 col-md-4 col-lg-3 col-xl-6">
								<a class="tpl23-catalog-box-popular-products-item"
								   href="/catalogs/motornye-masla/pav/4969.html">
									<div class="tpl23-catalog-box-popular-products-img">
										<img src="~/images/menu_item_icons/oil-ic4_original.webp"
											 class="ps-sub-lazy" alt="CASTROL">
									</div>
									<div class="tpl23-catalog-box-popular-products-name">CASTROL</div>
								</a>
							</div>

							<div class="col-6 col-md-4 col-lg-3 col-xl-6">
								<a class="tpl23-catalog-box-popular-products-item"
								   href="/catalogs/motornye-masla/pav/4891.html">
									<div class="tpl23-catalog-box-popular-products-img">
										<img src="~/images/menu_item_icons/oil-ic6_original.webp"
											 class="ps-sub-lazy" alt="MOBIL">
									</div>
									<div class="tpl23-catalog-box-popular-products-name">MOBIL</div>
								</a>
							</div>

							<div class="col-6 col-md-4 col-lg-3 col-xl-6">
								<a class="tpl23-catalog-box-popular-products-item"
								   href="/catalogs/motornye-masla/pav/5122.html">
									<div class="tpl23-catalog-box-popular-products-img">
										<img src="~/images/menu_item_icons/oil-ic8_original.webp"
											 class="ps-sub-lazy" alt="TOTAL">
									</div>
									<div class="tpl23-catalog-box-popular-products-name">TOTAL</div>
								</a>
							</div>

						</div>
					</div>

					<div class="tpl23-catalog-box-popular-tag">
						<div class="tpl23-catalog-box-popular-tag-title">Вязкость масла</div>
						<div class="tpl23-catalog-box-popular-tag-wrapper">

							<a class="tpl23-catalog-box-popular-tag-item"
							   href="/catalogs/motornye-masla/pav/96601.html">
								<div class="tpl23-catalog-box-popular-tag-name">0w30</div>
							</a>

							<a class="tpl23-catalog-box-popular-tag-item"
							   href="/catalogs/motornye-masla/pav/4876.html">
								<div class="tpl23-catalog-box-popular-tag-name">0w20</div>
							</a>

							<a class="tpl23-catalog-box-popular-tag-item"
							   href="/catalogs/motornye-masla/pav/4826.html">
								<div class="tpl23-catalog-box-popular-tag-name">5w30</div>
							</a>

							<a class="tpl23-catalog-box-popular-tag-item"
							   href="/catalogs/motornye-masla/pav/4912.html">
								<div class="tpl23-catalog-box-popular-tag-name">5w50</div>
							</a>

							<a class="tpl23-catalog-box-popular-tag-item"
							   href="/catalogs/motornye-masla/pav/4796.html">
								<div class="tpl23-catalog-box-popular-tag-name">10w40</div>
							</a>


						</div>
					</div>
				</div>

			</div>

			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">

				<div class="tpl23-catalog-box-popular-category">
					<div class="tpl23-catalog-box-popular-category-wrapper">

						<a class="tpl23-catalog-box-popular-category-item"
						   href="/catalogs/body-catalog.html">
							<div class="tpl23-catalog-box-popular-category-title">
								Для
								кузова
							</div>
							<div class="tpl23-catalog-box-popular-category-img">
								<img src="~/images/menu_item_icons/pc1_original.webp"
									 class="ps-sub-lazy" alt="Для кузова">
							</div>
						</a>

						<a class="tpl23-catalog-box-popular-category-item"
						   href="/catalogs/kovriki.html">
							<div class="tpl23-catalog-box-popular-category-title">Коврики</div>
							<div class="tpl23-catalog-box-popular-category-img">
								<img src="~/images/menu_item_icons/pc2_original.webp"
									 class="ps-sub-lazy" alt="Коврики">
							</div>
						</a>

						<a class="tpl23-catalog-box-popular-category-item"
						   href="/catalogs/akkumulyatornye-batarei.html">
							<div class="tpl23-catalog-box-popular-category-title">АКБ</div>
							<div class="tpl23-catalog-box-popular-category-img">
								<img src="~/images/menu_item_icons/pc3_original.webp"
									 class="ps-sub-lazy" alt="АКБ">
							</div>
						</a>

						<a class="tpl23-catalog-box-popular-category-item"
						   href="/catalogs/transmissionnye-masla-i-gur.html">
							<div class="tpl23-catalog-box-popular-category-title">
								Трансмиссионные
								масла
							</div>
							<div class="tpl23-catalog-box-popular-category-img">
								<img src="~/images/menu_item_icons/pc4_original.webp"
									 class="ps-sub-lazy" alt="Трансмиссионные масла">
							</div>
						</a>

						<a class="tpl23-catalog-box-popular-category-item"
						   href="/catalogs/shiny.html">
							<div class="tpl23-catalog-box-popular-category-title">Шины</div>
							<div class="tpl23-catalog-box-popular-category-img">
								<img src="~/images/menu_item_icons/pc5_original.webp"
									 class="ps-sub-lazy" alt="Шины">
							</div>
						</a>

						<a class="tpl23-catalog-box-popular-category-item"
						   href="/catalogs/diski.html">
							<div class="tpl23-catalog-box-popular-category-title">Диски</div>
							<div class="tpl23-catalog-box-popular-category-img">
								<img src="~/images/menu_item_icons/pc6_original.webp"
									 class="ps-sub-lazy" alt="Диски">
							</div>
						</a>

						<a class="tpl23-catalog-box-popular-category-item"
						   href="/catalogs/led.html">
							<div class="tpl23-catalog-box-popular-category-title">Автолампочки</div>
							<div class="tpl23-catalog-box-popular-category-img">
								<img src="~/images/menu_item_icons/pc7_original.webp"
									 class="ps-sub-lazy" alt="Автолампочки">
							</div>
						</a>

						<a class="tpl23-catalog-box-popular-category-item"
						   href="/catalogs/ochistiteli-online.html">
							<div class="tpl23-catalog-box-popular-category-title">Автохимия</div>
							<div class="tpl23-catalog-box-popular-category-img">
								<img src="~/images/menu_item_icons/pc8_original.webp"
									 class="ps-sub-lazy" alt="Автохимия">
							</div>
						</a>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>