<div class="tpl23-search-vin">
	<div class="tpl23-container">
		<div class="tpl23-search-vin-wrapper">
			<div class="tpl23-search-vin-title">
				Поиск запчастей по VIN номеру
				авто
			</div>
			<form action="/laximo/vehicle_by_vin_frame" accept-charset="UTF-8"
			      method="get">
				<div class="tpl23-search-vin-input-wrapper">
					<div class="tpl23-search-vin-input">
						<input type="search" name="vin" id="vin" placeholder="Введите
                    VIN номер">
						<div class="tpl23-search-vin-notice">
							Например <a href="/laximo/vehicle_by_vin_frame?vin=ZFA19200000508303">ZFA19200000508303</a>
						</div>
					</div>
					<input class="tpl23-btn" type="submit" value="Найти">
				</div>
			</form>
			<div class="tpl23-search-vin-notice">
				Например <a href="/laximo/vehicle_by_vin_frame?vin=ZFA19200000508303">ZFA19200000508303</a>
			</div>
		</div>
	</div>
</div>