@{
	ViewBag.Typeahead = new Typeahead
	{
		ShowSearch = true,
		EngineUrl = Url.ActionLink("FindDeals", "Deals", new { Area = "Atom" }),
		ResultUrl = Url.ActionLink("Update", "Deals", new { Area = "Atom" }),
		DisplayKey = "Title"
	};
	var typeahead = ViewBag.Typeahead as Typeahead;
	var showSearch = (typeahead?.ShowSearch as bool?).GetValueOrDefault();

}
<header>
	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">

		<a class="navbar-brand col-sm-3 col-md-2 mr-0" asp-area="Admin" asp-controller="Home" asp-action="Index">
			<img src="~/images/logo.png" alt="Logo" height="40" />
		</a>

		@if (showSearch)
		{
			<ul class="nav ml-auto d-flex justify-content-center" style="width: 100%; align-items: center; min-width:0">
				<li class="global-search__lishka">
					<div class="global-search-panel">
						<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
					</div>
				</li>
				@{
					var creationLink = ViewBag.CreationLink as string;
					if (creationLink != null)
					{
						<li>
							<a class="btn btn-primary" href="@creationLink">
								<i class="fa fa-plus" aria-hidden="true"></i>
								<span>Добавить</span>
							</a>
						</li>
					}
				}
			</ul>


		}

		<ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <form method="post" asp-area="Admin" asp-controller="Users" asp-action="Logout">
					<button type="submit" class="nav-link border-0 bg-transparent">Выход</button>
                </form>
            </li>
		</ul>
	</nav>
</header>