<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Khardo</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
</head>
<body>
	@if (User.Identity.IsAuthenticated)
	{
		<partial name="_Header" />
	}

	<main role="main" class="pb-3">
		@if (User.Identity.IsAuthenticated)
		{
			<partial name="_MainMenu" />
		}
		@RenderBody()
	</main>


	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; @DateTime.Now.Year - Khardo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<!-- Icons -->
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script>
		feather.replace()
	</script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="lib/vue/vue.runtime.global.min.js"></script>
	<script src="js/admin/showHideSearchPanel.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
