@{
	var controllerName = ViewContext.RouteData.Values["controller"].ToString();
	var actionName = ViewContext.RouteData.Values["action"].ToString();
}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
	<div class="sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" asp-area="Admin" asp-controller="Home" asp-action="Index">
					<span data-feather="home"></span>
					Панель индикаторов <span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="file"></span>
					Заказы
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-controller="Catalogs" asp-action="Index">
					<span data-feather="file"></span>
					Каталоги
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-area="Admin" asp-controller="Products" asp-action="Index">
					<span data-feather="shopping-cart"></span>
					Продукты
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="users"></span>
					Покупатели
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="bar-chart-2"></span>
					Отчеты
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="layers"></span>
					Интеграции
				</a>
			</li>
		</ul>

		<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
			<span>Сохранить отчеты</span>
			<a class="d-flex align-items-center text-muted" href="#">
				<span data-feather="plus-circle"></span>
			</a>
		</h6>
		<ul class="nav flex-column mb-2">
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="file-text"></span>
					Текущий месяц
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="file-text"></span>
					Последний квартал
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="file-text"></span>
					Социальная активность
				</a>
			</li>
		</ul>
	</div>
</nav>
