@{
	ViewData["Title"] = "Контакты ";
}


<ul class="path" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
	<li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="itemscope">
		<a href="#" itemprop="item" title="Главная">
			<span itemprop="name">Главная</span><meta itemprop="position" content="0">
		</a> /
	</li>
	<li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="itemscope">
		<a href="/o-kompanii.html" itemprop="item" title="О компании">
			<span itemprop="name">О компании</span>
			<meta itemprop="position" content="1">
		</a> /
	</li>
	<li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="itemscope">
		<span itemprop="name">Контакты</span>
		<meta itemprop="position" content="2">
	</li>
</ul>
<h1 class="main-title">Контакты</h1>
<article class="text">
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12" style="box-sizing: border-box; margin: 0px; padding: 0px 15px; border: 0px; font-size: 15px; vertical-align: baseline; position: relative; min-height: 1px; float: left; width: 292.5px; font-family: Montserrat, sans-serif;">
			<div class="contact_block contact_block_1" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline;">
				<div class="contact_block_label" style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; border: 0px; font-size: 20px; vertical-align: baseline; color: rgb(127, 127, 127); line-height: 20px;">Телефон</div>

				<p itemprop="telephone" style="box-sizing: border-box; margin: 0px 0px 10px; padding: 0px; border: 0px; font-size: 18px; vertical-align: baseline; line-height: 22px; color: rgb(68, 66, 66);">+7 (8452) 00-00-00</p>

				<div class="contact_block_label second_contact_block_label" style="box-sizing: border-box; margin: 30px 0px 5px; padding: 0px; border: 0px; font-size: 20px; vertical-align: baseline; color: rgb(127, 127, 127); line-height: 20px;">Отдел продаж</div>

				<p style="box-sizing: border-box; margin: 0px 0px 10px; padding: 0px; border: 0px; font-size: 18px; vertical-align: baseline; line-height: 22px; color: rgb(68, 66, 66);"><a href="mailto:sm@ohmyparts.ru" style="box-sizing: border-box; background-color: transparent; color: rgb(66, 139, 202); text-decoration-line: none; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline; outline: none; cursor: pointer;">sm@ohmyparts.ru</a></p>
			</div>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-12" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" style="box-sizing: border-box; margin: 0px; padding: 0px 15px; border: 0px; font-size: 15px; vertical-align: baseline; position: relative; min-height: 1px; float: left; width: 585px; font-family: Montserrat, sans-serif;">
			<div class="contact_block contact_block_2" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline;">
				<div class="contact_block_label" style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; border: 0px; font-size: 20px; vertical-align: baseline; color: rgb(127, 127, 127); line-height: 20px;">Адрес</div>

				<p style="box-sizing: border-box; margin: 0px 0px 10px; padding: 0px; border: 0px; font-size: 18px; vertical-align: baseline; line-height: 22px; color: rgb(68, 66, 66);"><span itemprop="postalCode" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline;">141068</span>,&nbsp;<span itemprop="addressLocality" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline;">г. Королёв</span>,&nbsp;<span itemprop="streetAddress" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline;">улица Академика Легостаева, 64Д</span>, офис 14-4</p>

				<div class="contact_block_label second_contact_block_label" style="box-sizing: border-box; margin: 30px 0px 5px; padding: 0px; border: 0px; font-size: 20px; vertical-align: baseline; color: rgb(127, 127, 127); line-height: 20px;">Бухгалтерия</div>

				<p style="box-sizing: border-box; margin: 0px 0px 10px; padding: 0px; border: 0px; font-size: 18px; vertical-align: baseline; line-height: 22px; color: rgb(68, 66, 66);"><a href="mailto:sm@ohmyparts.ru" style="box-sizing: border-box; background-color: transparent; color: rgb(66, 139, 202); text-decoration-line: none; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline; outline: none; cursor: pointer;">sm@ohmyparts.ru</a></p>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12" style="box-sizing: border-box; margin: 0px; padding: 0px 15px; border: 0px; font-size: 15px; vertical-align: baseline; position: relative; min-height: 1px; float: left; width: 292.5px; font-family: Montserrat, sans-serif;">
			<div class="contact_block contact_block_3" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline;">
				<div class="contact_block_label" style="box-sizing: border-box; margin: 0px 0px 5px; padding: 0px; border: 0px; font-size: 20px; vertical-align: baseline; color: rgb(127, 127, 127); line-height: 20px;">Режим работы</div>

				<p style="box-sizing: border-box; margin: 0px 0px 10px; padding: 0px; border: 0px; font-size: 18px; vertical-align: baseline; line-height: 22px; color: rgb(68, 66, 66);">пн-пт. 9-00 - 18-00 МСК</p>

				<div class="contact_block_label second_contact_block_label" style="box-sizing: border-box; margin: 30px 0px 5px; padding: 0px; border: 0px; font-size: 20px; vertical-align: baseline; color: rgb(127, 127, 127); line-height: 20px;">Тех. поддержка</div>

				<p style="box-sizing: border-box; margin: 0px 0px 10px; padding: 0px; border: 0px; font-size: 18px; vertical-align: baseline; line-height: 22px; color: rgb(68, 66, 66);"><a href="mailto:sm@ohmyparts.ru" style="box-sizing: border-box; background-color: transparent; color: rgb(66, 139, 202); text-decoration-line: none; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline; outline: none; cursor: pointer;">sm@ohmyparts.ru</a></p>
			</div>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12" style="box-sizing: border-box; margin: 0px; padding: 0px 15px; border: 0px; font-size: 15px; vertical-align: baseline; position: relative; min-height: 1px; float: left; width: 1170px; font-family: Montserrat, sans-serif;">
			<div class="contact_block contact_block_2" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline;">
				<div class="contact_block_label second_contact_block_label" style="box-sizing: border-box; margin: 30px 0px 5px; padding: 0px; border: 0px; font-size: 20px; vertical-align: baseline; color: rgb(127, 127, 127); line-height: 20px;">Недовольны тех. поддержкой? Есть вопрос, который никто не может решить?</div>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12" style="box-sizing: border-box; margin: 0px; padding: 0px 15px; border: 0px; font-size: 15px; vertical-align: baseline; position: relative; min-height: 1px; float: left; width: 292.5px; font-family: Montserrat, sans-serif;">
			<div class="contact_block contact_block_3" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline;">
				<div class="contact_block_label second_contact_block_label" style="box-sizing: border-box; margin: 30px 0px 5px; padding: 0px; border: 0px; font-size: 20px; vertical-align: baseline; color: rgb(127, 127, 127); line-height: 20px;">Директор</div>

				<p style="box-sizing: border-box; margin: 0px 0px 10px; padding: 0px; border: 0px; font-size: 18px; vertical-align: baseline; line-height: 22px; color: rgb(68, 66, 66);">+7 (8452) 00-00-00</p>
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12" style="box-sizing: border-box; margin: 0px; padding: 0px 15px; border: 0px; font-size: 15px; vertical-align: baseline; position: relative; min-height: 1px; float: left; width: 292.5px; font-family: Montserrat, sans-serif;">
			<div class="contact_block contact_block_3" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline;">
				<div class="contact_block_label second_contact_block_label" style="box-sizing: border-box; margin: 30px 0px 5px; padding: 0px; border: 0px; font-size: 20px; vertical-align: baseline; color: rgb(127, 127, 127); line-height: 20px;">Email</div>

				<p style="box-sizing: border-box; margin: 0px 0px 10px; padding: 0px; border: 0px; font-size: 18px; vertical-align: baseline; line-height: 22px; color: rgb(68, 66, 66);"><a href="mailto:sm@ohmyparts.ru" style="box-sizing: border-box; background-color: transparent; color: rgb(66, 139, 202); text-decoration-line: none; margin: 0px; padding: 0px; border: 0px; vertical-align: baseline; outline: none; cursor: pointer;">sm@ohmyparts.ru</a></p>
			</div>
		</div>
	</div>

	<div class="row row-map">
		<div class="col-md-12">
			<div id="map" style="width: 100%; height: 300px"></div>
		</div>
	</div>
</article>
@section Scripts
{
	<script src="https://api-maps.yandex.ru/2.1/?apikey=c95580d0-aac4-4633-9fde-b3efa4338bdc&lang=ru_RU" type="text/javascript"></script>
	<script>
		// Функция ymaps.ready() будет вызвана, когда
		// загрузятся все компоненты API, а также когда будет готово DOM-дерево.
		ymaps.ready(init);
		function init(){
			// Создание карты.
			var myMap = new ymaps.Map("map", {
				// Координаты центра карты.
				// Порядок по умолчанию: «широта, долгота».
				// Чтобы не определять координаты центра карты вручную,
				// воспользуйтесь инструментом Определение координат.
				center: [51.53, 46.03],
				// Уровень масштабирования. Допустимые значения:
				// от 0 (весь мир) до 19.
				zoom: 12
			});
		}
	</script>
}
