@{
	ViewData["Title"] = "Доставка и оплата автозапчастей ";
}

<div class="content clearfix">

	<ul class="path" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="itemscope">
			<a href="https://system-template-23.demo.parts-soft.ru/" itemprop="item" title="Главная">
				<span itemprop="name">Главная</span>
				<meta itemprop="position" content="0">
			</a> /
		</li>
		<li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="itemscope">
			<a href="/polzovatelyam.html" itemprop="item" title="Клиентам">
				<span itemprop="name">Клиентам</span>
				<meta itemprop="position" content="1">
			</a> /
		</li>
		<li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="itemscope">
			<span itemprop="name">Доставка и оплата</span>
			<meta itemprop="position" content="2">
		</li>
	</ul>
	<h1 class="main-title">Доставка и оплата автозапчастей</h1>
	<article class="text">
		<p><strong>Для вашего удобства мы пользуемся различными системами оплаты заказов:</strong></p>

		<p>1. Оплата наличными при получении заказа на складе или водителю-экспедитору.</p>

		<p>2. Оплата счета через банк или банковскую карту.</p>

		<p>3. Оплата через платежные терминалы.</p>

		<p>4. Оплата электронными деньгами</p>

		<p><img alt="" src="/ckeditor_assets/pictures/29/content_accepted-payments.jpg" style="height:180px; width:581px"></p>

		<p>&nbsp;</p>

		<p><strong>Доставка заказа осуществляеся любым удобным вам способом:</strong></p>

		<p>1. До квартиры или офиса с 09.00 до21.00 без выходных - для Москвы т Московской области.</p>

		<p>2. Почтой России - доставка в регионы, от 7 до 30 дней.</p>

		<p>3. Самовывоз возможен с нашего склада в Москве ежедневно с 09.00 до 21.00 без выходных и перерыва.</p>

		<p><img alt="" src="/ckeditor_assets/pictures/28/content_delivery.jpg" style="height:496px; width:800px"></p>

		<p>&nbsp;</p>

	</article>

</div>