<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target name="mainLog" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString}"
		        encoding="utf-8" xsi:type="File" fileName="loger.txt" />
	</targets>
	<rules>
		<logger name="*" minlevel="Warn" writeTo="mainLog" />
	</rules>
</nlog>