
@{
	ViewData["Title"] = "О нас";
}
<div class="content clearfix">
    
		<ul class="path" itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList"><li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="itemscope"><a href="https://system-template-23.demo.parts-soft.ru/" itemprop="item" title="Главная"><span itemprop="name">Главная</span><meta itemprop="position" content="0"></a> / </li><li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="itemscope"><a href="/polzovatelyam.html" itemprop="item" title="Клиентам"><span itemprop="name">Клиентам</span><meta itemprop="position" content="1"></a> / </li><li itemprop="itemListElement" itemtype="http://schema.org/ListItem" itemscope="itemscope"><span itemprop="name">О компании</span><meta itemprop="position" content="2"></li></ul><h1 class="main-title">О компании</h1>
		<article class="text">
			<p>ООО "СпецАвтоПром" - компания, занимающаяся розничной продажей запчастей, расходных материалов, аксессуаров и комплектующих для автомобилей иностранного производства.&nbsp; В нашем ассортименте продукция ведущих европейских, корейских, японских марок, а так же большой выбор неоригинальных автомобильных запчастей.</p>

			<p>Мы предлагаем быстрый и удобный сервис по поиску, подбору и заказу необходимых вам запчастей, сезонную систему скидок и максимально короткие сроки доставки.</p>

		</article>
        
    
    
</div>