@{
	ViewData["Title"] = "Интернет магазин авто запчастей - ";
}
<div class="content clearfix">
	<partial name="Partials/_Carousel" />

	<partial name="Partials/_SearchVin"/>

	<partial name="Partials/_CatalogBox"/>
</div>
<partial name="Partials/_PopularCategories" />

<partial name="Partials/_SpecialOffers" />

<partial name="Partials/_NewsAndPromotions" />
