@{
    ViewData["Title"] = "Интернет магазин авто запчастей - ";
}
<div class="content clearfix border-dark">
    <partial name="Partials/_Carousel" />

    <partial name="Partials/_SearchVin" />

    <partial name="Partials/_CatalogBox" />
</div>
<partial name="Partials/_PopularCategories" />

<partial name="Partials/_SpecialOffers" />

<partial name="Partials/_NewsAndPromotions" />


@section Scripts{

    <script src="~/lib/typeahead.js/bloodhound.min.js"></script>
    <script src="~/lib/typeahead.js/typeahead.bundle.min.js"></script>
    <script>
        //$(function () {
            // init Bloodhound with Remote + Prefetch
            var engine = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '@Url.Action("TypeaheadPrefetch", "Home", new { Area = "Public" }, Context.Request.Scheme)',
                    //cache: true,
                    transform: function (data) {
                        var newData = [];
                        data.forEach(function (item) {
                            newData.push({ 'name': item });
                        });
                        return newData;
                    }
                },
                remote: {
                    url: '@Url.Action("TypeaheadQuery", "Home", new { Area = "Public" }, Context.Request.Scheme)' + '?query=%QUERY',
                    wildcard: '%QUERY'
                },
            });

            // init Typeahead
            $('#search_product-text').typeahead(
                {
                    minLength: 3,
                    highlight: true
                },
                {
                    name: 'products',
                    source: engine,
                    display: function (item) {
                        return `${item.vendorCode} ${item.name}`;
                    },
                    limit: 5,
                    templates: {
                        suggestion: function (item) {
                            return '<div class="p-3 bg-light hover">' + item.vendorCode + ' ' + item.name + '</div>';
                        }
                    }
                });
        //})
    </script>
}